*{
    box-sizing: border-box;
    margin:0
}
body{
    display:flex;
    flex-flow:wrap;
}
/*header*/

header{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 1800px;
  
}

h1 {
font-family:monospace;
font-size: 2.5em;
font-weight: thick;
}

.navLinks{
  background-color: brown;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
  
a{
  color: black;
  border-bottom: black solid 1px;
  border-radius: 20%;
  font-size: 1.1em;
}
/* /header*/


/* footer*/

footer {
    display: flex;
    justify-content: center; 
    font-weight: 2em;
}


@media only screen and (max-width: 1500px) {
    *{
      background-color: red;
    }
  }

@media only screen and (max-width: 750px) {
        *{
          background-color: lightblue;
        }
      }
    
@media only screen and (max-width: 500px) {
    *{
      background-color: blue;
    }
  }

/* border-bottom: left*/  