*{
    box-sizing: border-box;
    background-color:rgb(65, 65, 65) ;
}
head {
    background-color: rgb(65, 65, 65);
}
header {
    
    
    display: flex;
    flex: wrap;
    justify-content:space-between;
    background-color: rgb(65, 65, 65);

    
   
}
nav{
    display:flex;
    flex:wrap;
    flex-basis: 300pxpx;
    font-size: 2em;
    
   
   
}

h1 {
    flex: wrap;
    display: flex;
    color: rgb(41, 41, 41);
   
    border: none;
    font-family:sans-serif;
    font-size: 2.5em;
    margin: 0px 0px 10px 0px;
    background-color: darkcyan;
    padding: 0px 10px 0px 50px ;
    
   
}
a {
    display:flex;
   
    justify-content:space-between;
    color: darkcyan;
    text-decoration:underline bold;
    padding: .3em;
    background-color: rgb(65, 65, 65);
    font-family:sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: .80em;
    
}

body {
    background-color: white;
}

img {
    width: 190em;
    max-height: 25em;
    display: flex;
   
}

section {
    font-family: Arial;
    
    border: solid 5px black;
    margin: 50px;
    flex-direction: column;
    min-height: 50vh;
   
  
  }

 
  p {
      display: flex;
      justify-content: flex-end;
      color:black;
      border: black solid 2px;
 
  }

  h2 {
      color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-start;
      
  }
    

footer {
    display: flex;
    justify-content: center;
    
    font-weight: 2em;
}

    
    
