* {
  box-sizing: border-box;
  margin: 0;
  background-color: #1a2238;
 
}

/*header*/

header {
  display: flex;

  justify-content: space-between;

  padding-top: 20px;

  border-bottom: 5px solid black;

  margin-bottom: 10px;
}

h1 {
  font-family: monospace;

  font-size: 2.5em;

  font-weight: thick;

  color: black;

  background-color: #ff6a3d;

  padding-left: 10px;
}

/*nav links*/
.navLinks {
  display: grid;

  grid-template-columns: auto auto auto auto;

  grid-gap: 10px;

  background-color: #ff6a3d;

  padding: 10px;
}
nav {
  justify-content: space-between;
}

a {
  color: white;

  font-size: 1.1em;

  background-color: #ff6a3d;
}
/* </header> */

/*main */

main {
  display: flex;
  flex-wrap: wrap;
}

/* section*/

section {
 display: flex;
}

h2 {
  color: #ff6a3d;

  border-right: black solid 3px;

  
 margin: 20px;
  

  padding: 1px;


}

.contact-info {
  display: flex;
  justify-content: space-between;
}
/*profile pic*/
.img-container {
  display: flex;
  flex-wrap: wrap;
}
.profilepic {
 height:200px;
  width: 200px;
}

p {
  display: inline;
  color: white;
  width:75%;
  margin:10px;
}

/*applications*/
.applications-container {
 display: flex;
 
}
.applications {


 max-width:200px;
  margin: 5px;
  border-radius: 10%;
  
  border: #ff6a3d 5px solid;
  
}

/* footer*/

footer {
  display: flex;

  justify-content: center;

  font-weight: 2em;

  margin-top: 100px;

  margin-left:80px;
}

@media only screen and (max-width: 1500px) {
  * {
    background-color: red;
  }
}

@media only screen and (max-width: 750px) {
  * {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 500px) {
  * {
    background-color: blue;
  }
}

/* border-bottom: left*/
